<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @cursada.year %>
</p>

<%= link_to 'Edit', edit_cursada_path(@cursada), class: 'btn btn-outline-success' %> 
<%= link_to 'Back', cursadas_path %>
