<div class="container col-md-4 col-md-offset-4" style="width:400px">

  <div class="card" style="width:400px">
    <%=image_tag("course1.jpeg", alt: "Card image, ruby development image", class: "card-img-top")%>
    <div class="card-body">
      <h4 class="card-title">Editing Course</h4>
      <p class="card-text">
        <%= render 'form', course: @course %>
      </p>
    </div>
  </div>

</div>

