<div class="container beyond-navbar">
    <h1>
        <span>
            <%=image_tag("ruby1.png", alt: "Ruby Icon", class: "rounded ruby-img")%>
            Home#index
        </span>
    </h1>
</div>
