<p>
<strong>Commenter:</strong>
<%= comment.commenter %>

<strong>Comment:</strong>
<%= comment.body %>

<%= link_to 'Destroy Comment', [comment.article, comment],
method: :delete,
data: { confirm: 'Are you sure?' } %>
</p>

<!-- 
Clicking this new "Destroy Comment" link will fire off a DELETE
/articles/:article_id/comments/:id to our CommentsController,
which can then use this to find the comment we want to delete,
-->